  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <!-- Default to the left -->
    <strong>Tugas Basis Data Kelompok 4 &copy; 2019 <a href="https://cs.ui.ac.id">cs.ui.ac.id</a>.</strong> All rights
      reserved.
  </footer>