  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Tugas Basis Data Kelompok 4 &copy; 2019 <a href="https://cs.ui.ac.id">cs.ui.ac.id</a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>