<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>UI</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Admin</b>BikeSharingUI</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">



        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="../dist/img/ui-logo.png" class="user-image" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"> Username Administrator</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <!-- search form (Optional) -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Admin Menu navigation</li>
      <!-- Optionally, you can add icons to the links -->
      <li><a href="/admin/acara"><i class="fa fa-folder"></i> <span>Acara</span></a></li>
      <li><a href="/admin/penugasan"><i class="fa fa-folder"></i> <span>Penugasan</span></a></li>
      <li><a href="/petugas/laporan"><i class="fa fa-folder"></i> <span>Laporan</span></a></li>
      <li><a href="/admin/sepeda"><i class="fa fa-folder"></i> <span>Sepeda</span></a></li>
      <li><a href="/admin/statsiun"><i class="fa fa-folder"></i> <span>Statsiun</span></a></li>
      <li><a href="/admin/voucher"><i class="fa fa-folder"></i> <span>Voucher</span></a></li>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Administrator Main Menu
    </h1>
  </section>