<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand"><b>SPEDA KUNING</b> Universitas Indonesia</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">List<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/anggota/daftar_sepeda">Sepeda</a></li>
              <li class="divider"></li>
              <li><a href="/anggota/daftar_stasiun">Statsiun</a></li>
              <li class="divider"></li>
              <li><a href="/anggota/daftar_acara">Acara</a></li>
            </ul>
          </li>
          <li><a href="/anggota/peminjaman">Peminjaman</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transaksi <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/anggota/topup">Top Up Saldo</a></li>
              <li class="divider"></li>
              <li><a href="/anggota/daftar_transaksi">Lihat Riwayat Transaksik</a></li>
            </ul>
          </li>
          <li><a href="/anggota/daftar_voucher">Voucher</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="../..//dist/img/ui-logo.png" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Username Anggota</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <div class="col-xs-4 text-center">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
              <!-- Menu Body -->
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>